<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- <form @submit.prevent="add">
      <input type="text" v-model="student.name">
      <input type="text" v-model="student.age">
      <button>添加</button>
    </form> -->

    <ul>
      <li v-for="item in list">姓名：{{item.name}}, 年龄：{{item.age}}</li>
    </ul>

    <!-- <hr>
    <div id="my-component"></div>


    <hr>
    <p>v-model: {{compValue}}</p>
    <vmodel v-model="compValue" />

    <hr>
  
    <h3>异步组件测试</h3>
    <button @click="toggle">toggle</button>
    <async-component v-if="showAsync" /> -->
  </div>

  <script src="./vue@2.7.14.js"></script>

  <script type="module">
    import './main.js'
    import Vmodel from './vmodel.js'

    const app = new Vue({
      el: '#app',
      components: {
        AsyncComponent: () => import('./async.js'),
        Vmodel,
      },
      data() {
        return {
          student: {
            name: '',
            age: '',
          },
          compValue: 'v-model comp value',
          list: [],
          showAsync: false,
        }
      },
      methods: {
        add() {
          this.list.push(Object.assign({}, this.student))
        },
        toggle() {
          this.showAsync = !this.showAsync
        }
      }
    })
  </script>
</body>
</html>